.size20x20 {
  width: 20px;
  height: 20px;
}

.size56x56 {
  width: 56px;
  height: 56px;
}
.minW-80 {min-width: 80px;}
.w-4 {width: 1rem;}
.w-8 {width: 2rem;}
.w50px {width: 50px;}
.w100px {width: 100px;}
.w150px {width: 150px;}
.w200px {width: 200px;}
.w653px {width: 653px !important;}
.w662px {width: 662px !important;}

.w100 {width: 100%;}
.w5p {width: 5%;}
.w20p{width: 20% !important;}
.w40p{width: 40% !important;}
.w60p{width: 60% !important;}

.h100 {height: 100%;}

.h-4 {height: 1rem;}
.h-8 {height: 2rem;}
